@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icomoon.eot?kdrnm7');
    src:  url('/assets/fonts/icomoon.eot?kdrnm7#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?kdrnm7') format('truetype'),
    url('/assets/fonts/icomoon.woff?kdrnm7') format('woff'),
    url('/assets/fonts/icomoon.svg?kdrnm7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper-inner-overlay:hover .inner-overlay{
    opacity: 1;
    right: 0;
}
.inner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.right-inner-overlay {
    width: 40px;
    right: -10px;
    left: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 9px 9px 9px;
    align-items: center;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
}
.icon-pencil:before {
    content: "\e905";
}
.icon-bin2:before {
    content: "\e9ad";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-cross:before {
    content: "\ea0f";
}
.my-center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
}
button {
    outline: none !important;
    box-shadow: none !important;
}
.navbar {
    align-items: flex-start;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width:18px;
    height: 18px;
    border: 1px solid #cfd5db;
}
.styled-checkbox:hover + label:before {
    opacity: .9;
}
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #c3c3c3, 4px 0 0 #c3c3c3, 4px -2px 0 #c3c3c3, 4px -4px 0 #c3c3c3, 4px -6px 0 #c3c3c3, 4px -8px 0 #c3c3c3;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

html {
    background: lightgray;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 20px 0;
}

.centered {
    width: 300px;
    margin: auto;
}

.title {
    text-align: center;
    color: #4571ec;
}
a:hover {
    text-decoration: none !important;
}

.cross:hover {
    transform: rotate(360deg);
}

.cross:before {
    text-shadow: 1px 1px 2px black, 0 0 1em #4385f4;
}
.cross {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 10px;
    transition: all .5s;
    transform: rotate(0);
}